extends layout.pug
block content
 h3 The current temperature is #{currentTemp} degrees fahrenheit
 h3 #{clothesToWear}
 form(action="/" method="get")
  button(type="submit" class="search") Search Again
