/****Universal**/

* {
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;
}

html {
	background-image: url("img/weather-background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}


/***Typography***/

h2 {
	text-align: center;
}
/* input,label {
	text-align: left;
} */

h2 {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6), 0px 0px 30px rgba(255, 255, 255, 0.4), 0px 0px 50px rgba(255, 255, 255, 0.3), 0px 0px 180px rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0);
	font: 100px 'ChunkFiveRegular';
}

h3 {
	text-align: center;
	color: white;
	text-shadow: -1px 0px 0px grey;
	text-transform: uppercase;
}

.title {
	animation: moveFromTop 1s ease-in-out;
}


/*****Layout****/

.label,
select {
	display: block;
	width: 80%;
	margin: auto;
	border: none;
}

input[type="text"],
input[type="number"] {
	background: none;
	border-bottom: 3px solid white;
	font-size: 1.2em;
	padding: .4em;
	margin-bottom: .3em;
	text-align: center;
}
input[type="submit"] {
	text-align: center;

}

input[type="submit"] {
	border-radius: .6em;
	transition: all .2s;
	transition-timing-function: ease-in-out;
}

input.search {
	display: block;
	margin: 1em auto 0 auto;
	font-size: 1.4em;
	width: 80%;

}

p a {
	display: block;
	text-align: center;
	text-decoration:  overline;
	color: white;
	font-size: 20px;
}

/****Pseudo***/

input:hover,
button:hover,
select:hover,
button:active,
button:focus,
input:focus,
select:focus {
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px gray;

}
input[type="submit"]:active {
	transform: translateY(0px);
	box-shadow: 0 1px 5px gray;
}

input[type="text"]:focus, input[type="number"]:focus {
	text-align: left;
}


input::placeholder {
	color: white;
}


/***Desktop***/

@media(min-width: 600px) {
	body {
		max-width: 700px;
		margin: auto;
		padding: 1em;
	}
}

@keyframes moveFromTop {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
